@import 'highlight.css';

.mycontainer
{
	margin: 0 auto;
	max-width: 940px;
}

.mycontainer > hr
{
	margin: 30px 0;
}

.mycontainer table
{
	margin: 15px 0;
}

.mycontainer
{
	padding: 0 10px;
}

.mycontainer table th,
.mycontainer table td
{
	padding: 6px 10px;
	border: 1px solid #cbcbcb;
}

.mycontainer thead tr,
.mycontainer tbody tr:nth-child(even)
{
	background-color: #fafafa;
}

.navbar-inner
{
	padding: 0;
}

.navbar .nav
{
	float: right;
	padding: 10px 20px 10px;
	font-size: 20px;
}

.navbar .nav a
{
	text-decoration: none;
}

.navbar .nav .divider
{
	padding-left: 0.4em;
	padding-right: 0.4em;
}

pre.highlight code
{
	font-size: 95%;
	tab-size: 4;
	white-space: pre;
}

pre.highlight
{
	overflow: auto;
}

blockquote p
{
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6 { margin: 25px 0 15px 0; }

dt
{
	margin-bottom: 0.5em;
}

dd
{
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 3px solid #F7F7F9;
}

.path, .incl, .tag, .attr, .prop, .value, .cls, .evt
{
	border: none;
	padding: 3px 5px;
}

.path, .incl, .value, .cls
{
	color: black;
}

.tag, .attr, .prop
{
	color: blue;
}

.evt
{
	color: green;
}
.status
{
	margin-top: -10px;
	float: right;
	position: relative;
	padding: 1em 1.5em;
	color: #fff;
}
.status hr { margin: 0; padding: 0; border: 1px solid rgba(255,255,255,0.5); }
.status .title { font-size: 0.85em; }
.status .has_description { position: absolute; bottom: 0.5em; left: 0; right: 0; height: 1em; text-align: center; }
.status.minor, .status.improve { background-color: #829c50; }
.status.review { background-color: #16556c; }
.status.major { background-color: #ec3a09; }
.status.deprecated { background-color: #ff8000; }


/* Mark external links with icon */
a[href^="http"]:after {
	content: " \f35d";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-style: normal;
	font-size: 0.7em;
	display: inline-block;
	text-decoration: none;
	padding-left: 0.4em;
	padding-right: 0.2em;
}

.bottom-nav a {
	vertical-align: text-bottom;
}

.bottom-nav a:before, .bottom-nav a:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-style: normal;
	font-size: 1.1em;
	display: inline-block;
	text-decoration: none;
}
.bottom-nav .previous a:before {
	content: "\f104";
	padding-right: 0.5em;
}
.bottom-nav .parent a:before {
	content: "\f106";
	padding-right: 0.5em;
}
.bottom-nav .next a:after {
	content: "\f105";
	padding-left: 0.5em;
}

.gallery-item {
	text-align: center;
	padding: 1em 3em 3em 3em;
	font-weight: bold;
	font-size: 1.2em;
}
.gallery-item img, .gallery-item video {
	max-height: 80vh;
	padding-bottom: 1em;
}
