@import 'highlight.css';

.mycontainer
{
	margin: 0 auto;
	max-width: 940px;
}

.mycontainer > hr
{
	margin: 30px 0;
}

.mycontainer table
{
	margin: 15px 0;
}

.mycontainer
{
	padding: 0 10px;
}

.mycontainer table th,
.mycontainer table td
{
	padding: 6px 10px;
	border: 1px solid #cbcbcb;
}

.mycontainer thead tr,
.mycontainer tbody tr:nth-child(even)
{
	background-color: #fafafa;
}

.navbar
{
	position: relative;
}
.navbar-flex
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-flex > *
{
	flex-shrink: 0;
}

.navbar-inner
{
	padding: 0;
}

.navbar .brand
{
	line-height: 28px;
	padding: 5px 20px;
}
.navbar .brand img
{
	vertical-align: top;
	padding-right: 0.3em;
}
.navbar a
{
	text-decoration: none;
	color: #777777;
}
.navbar a:hover
{
	color: #222;
}

.navbar .nav
{
	font-size: 17px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-shrink: 1;
}

.navbar .nav .divider
{
	padding-left: 0.4em;
	padding-right: 0.4em;
}

.navbar .search
{
	position: relative;
	width: 150px;
}
.navbar .search-phone
{
	margin-right: 22px;
}
.navbar .search form
{
	margin: 0;
}
.navbar .search input
{
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	height: 24px;
	line-height: 1.2em;
}
.navbar .search-button, .navbar .search-link
{
	font-size: 15px;
	color: #868686;
	background: transparent;
}
.navbar .search-button
{
	position: absolute;
	right: 3px;
	top: 3px;
	border: none;
}
.navbar .search-link
{
	padding: 8px;
}
.navbar .search-button:hover {
	color: #222;
}

pre.highlight code
{
	font-size: 95%;
	tab-size: 4;
	white-space: pre;
}

pre.highlight
{
	overflow: auto;
}

blockquote p
{
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6 { margin: 25px 0 15px 0; }

dt
{
	margin-bottom: 0.5em;
}

dd
{
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 3px solid #F7F7F9;
}

h3 a { color: black; }
h3 a:hover { text-decoration: none; }

.path, .incl, .tag, .attr, .prop, .value, .cls, .evt
{
	border: none;
	padding: 3px 5px;
}

.path, .incl, .value, .cls
{
	color: black;
}

.tag, .attr, .prop
{
	color: blue;
}

.data-attr
{
	color: #156b00;
}
dl.data-desc
{
	margin-top: 2em;
}
dl.data-desc dt
{
	font-size: 1.3em;
}

.evt
{
	color: green;
}

.edit_page
{
	margin-top: -10px;
	float: right;
	padding: 1em 0em 1em 1em;
}
.edit_page a:before
{
	content: "\f09b ";
	font-family: 'Font Awesome 5 Brands';
	font-weight: 400;
	font-style: normal;
	font-size: 0.92em;
	display: inline-block;
	text-decoration: none;
	padding-left: 0.2em;
	padding-right: 0.4em;
}

.status
{
	margin-top: -10px;
	float: right;
	position: relative;
	padding: 1em 1.5em;
	margin-left: 1em;
	color: #fff;
}
.status hr { margin: 0; padding: 0; border: 1px solid rgba(255,255,255,0.5); }
.status .title { font-size: 0.85em; }
.status .has_description { position: absolute; bottom: 0.5em; left: 0; right: 0; height: 1em; text-align: center; }
.status.minor, .status.improve { background-color: #829c50; }
.status.review { background-color: #16556c; }
.status.major { background-color: #ec3a09; }
.status.deprecated { background-color: #ff8000; }


/* Mark external links with icon */
a[href^="http"]:after {
	content: " \f35d";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-style: normal;
	font-size: 0.7em;
	display: inline-block;
	text-decoration: none;
	padding-left: 0.4em;
	padding-right: 0.2em;
}
.edit_page a:after { content: ""; }

.bottom-nav a {
	vertical-align: text-bottom;
}

.bottom-nav a:before, .bottom-nav a:after {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-style: normal;
	font-size: 1.1em;
	display: inline-block;
	text-decoration: none;
}
.bottom-nav .previous a:before {
	content: "\f104";
	padding-right: 0.5em;
}
.bottom-nav .parent a:before {
	content: "\f106";
	padding-right: 0.5em;
}
.bottom-nav .next a:after {
	content: "\f105";
	padding-left: 0.5em;
}

.gallery-item {
	text-align: center;
	padding: 1em 3em 3em 3em;
	font-weight: bold;
	font-size: 1.2em;
}
.gallery-item img, .gallery-item video {
	max-height: 50vh;
	max-height: min(80vh, 650px);
	padding-bottom: 1em;
}

.lua-type {
	font-weight: bold;
}

.lua-function {
	font-weight: bold;
}

#search-results h4 {
	margin-bottom: 7px;
	font-weight: normal;
}
#search-results .fas {
	margin-right: .6em;
	font-size: 0.9em;
}
#search-results p strong {
	color: #b7731e;
}
